.product-form-container {
    max-width: 600px;
    margin: 3rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-input {
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
}

.product-price-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.price-input {
    width: 100px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.register-button-fixed {
    position: fixed;
    bottom: 150px;
    right: 400px;
    z-index: 1000;
}
